html {
    height: 100%;
}
main {
    height: 100%;
}
body {
    height: 100%;
}

section {
    height: 100%;
}



li:nth-child(odd) {
    background-color: #CFD8DC;
}

table td {
    overflow: hidden;
}
.mdl-layout__tab-panel {
    padding: 15px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.logout {
    padding: 10px;
}

.logobox {
    height: 100%;
    padding-top: 5px;
}

.logotype {
    height: auto;
    max-height: 100%;
}

.mdl-textfield {
    width: 45%;
    margin: 0 auto;
}
.mdl-textfield__input {
    width: 100%;
    margin: 0 auto;
}
.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: #ff9800;
}

.slider {
    margin: 0 auto;
    display: inline-block;
}

.fill {
    height: 500px;
    position: relative;
}

.slide_tool {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-align: center;
}

.mdl-chip {
    background-color: #ff9800;

}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #ff9800;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: #ff9800;
}
.hidden {
    visibility: hidden;
}
.mdl-data-table {
    table-layout: fixed;
    width: 100%;
}
.select {
    width: 40%;
}

.div_title {
    width: 100%;
    margin: 0 auto;
}
.outer_border {
    background: #CFD8DC; /* Цвет фона */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 20px;
}

.inner_border {
    background: #CFD8DC; /* Цвет фона */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
}

.to_left {
    margin-right: 30%;
}
.not_absolute {
    position: inherit;
    text-align: center;
}
.center {
    width: 100%;
    text-align: center;
}
.right {
    width: 100%;
    text-align: right;
}
.mdl-textfield {
    width: 45%;
}

.mdl-badge {
    visibility: hidden;
}
.demo-card-wide.mdl-card {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    /*background: url('http://boombob.ru/img/picture/Oct/11/bacc9b24ad99a30e163b7ab317765791/1.jpg') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}