body {
    background-color: #78909c ;
    text-align: center;
}
form {
    background-color: #fafafa;
    padding-top: 10%;
    padding-bottom: 10%;
}
.block {
    height: 180px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.logo {
    width: auto;
    max-width: 100%;
    position: absolute;
    bottom: 5px;
    left: 17%;
}
.main {
    padding: 15px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}